@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hier definieren wir globale Regeln, falls nötig */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --font-inter: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-oswald: "Oswald", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
  /* Wir setzen die Farben primär über Tailwind im layout.tsx,
     aber das hier sichert uns ab */
  color: rgb(var(--foreground-rgb));
  background: #09090b; /* Deep Dark Background passend zum Layout */
}